.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.draggable-button {
  display: inline-block;
  margin: 10px;
  cursor: -webkit-grab;
  cursor: -moz-grab;
}

.draggable-button:active {
  cursor: -webkit-grabbing;
  cursor: -moz-grabbing;
}


.container {
  background-color: #0055ff;
  color: rgb(255, 208, 0);
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
  display: inline-block;
  overflow: auto;
  white-space: nowrap;
}

@media screen and (max-width: 600px) {
  .container {
    flex-wrap: wrap;
  }
}

